.Container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Row {
  display: flex;
  flex-direction: row;
}

.Game-Container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.Column {
  display: flex;
}

.Meta-Data {
  display: flex;
}

.Meta-Data h4:nth-child(1) {
  margin-right: 20px;
}

.Meta-Data h4:nth-child(2) {
  margin-left: 20px;
}

.Button {
  background-color: aquamarine;
  padding: 10px 40px;
  cursor: pointer;
}

.Button:hover {
  background-color: black;
  color: aquamarine;
  animation-duration: 2;
}
